/* Beginning of solomon's CSS */


.head1 {
	background-color: #7e33e0 !important;
	padding: 0;
}
.anc {
	color: #fff !important;
}

.top-level {
	font-family: "Josefin Sans";
	font-size: "16px";
}

.hekto {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-size: 34px;
	font-weight: normal;
}
.nav-item a {
	padding-left: 0 !important;
}
.cart-container{
	position: relative;
}

.counter{
	color: #fff;
	border-radius: 50%;
	background-color: #fb2e86;
	text-align: center;
	position: absolute;
	top: 0;
	left: 15px;
	padding: 0px 8px;
}
li a {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.ul1 {
	margin-left: auto !important;
	margin-right: 0 !important;
}
.navbar-brand-b {
	color: #0d0e43 !important;
	font-family: Roboto;
	font-size: 34px;
	font-style: normal;
	font-weight: 900;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
	margin-right: 94px;
}
.head2 {
	background: #e5e5e5 !important;
}
.anc2 {
	color: #0d0e43 !important;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	text-transform: capitalize;
}
.anc2:hover {
	color: #fb2e86 !important;
}
.active {
	color: #fb2e86 !important;
}
.btn2 {
	margin-left: -10px;
	background: #fb2e86;
	border: 0;
}
.btn-search {
	color: white;
}
.header {
	background: #f6f5ff;
	padding: 50px 0;
}
#title {
	color: #101750;
	font-family: Roboto;
	font-size: 36px;
	font-style: normal;
	font-weight: 900;
	line-height: 42px;
	letter-spacing: 0em;
	text-transform: capitalize;
}
.head3 {
	margin-top: -20px !important;
}
.title-head {
	font-family: Roboto;
	font-size: 22px;
	font-style: normal;
	font-weight: 900;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #151875;
}
.input {
	width: 55px;
}
.input2 {
	width: 162px;
}
.li {
	margin-left: 15px;
	text-transform: capitalize;
}
.filter-nav {
	margin-left: 250px;
}

/* End of Solomon's CSS */

.section-4 {
	padding: 4rem 0;
}

.search-input {
	height: 1.5rem;
	font: 1rem;
	border: 1px solid #e7e6ef;
	box-sizing: border-box;
	/* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.search-div1,
.search-div2 {
	margin-right: 1rem;
}

.search-text {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	/* sale tage coloe */
	color: #3f509e;
	/* border: none; */
}



.search-right .title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
	line-height: 26px;
	/* identical to box height */
	/* Text */
	color: #151875;
	margin-bottom: 0;
}
.search-right .stat {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	/* sub text color */
	color: #8a8fb9;
}

input:focus{
	outline:none;
}

::placeholder{
	color: #C5CBE3;
}

.right-filter-ul {
	list-style: none;
	padding-left: 0rem;
}
.right-filter p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 30px;
	color: #151875;
	margin-bottom: .5rem;
}

.right-filter li {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #7e81a2;
}

.bottom-search {
	/* border: 1px solid green; */
	/* padding: 2px; */
	background-color: gray;
}
.bottom-search input {
	/* border: none; */
	margin: none;
}
.input-search-icon {
	position: relative;
}

.sm-circle {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: blue;
}

.card-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	/* identical to box height */
	color: #111c85;
}

.card-price {
	font-family: Josefin Sans;
	font-size: 14px;
	line-height: 16px;
	color: #111c85;
	margin-right: 1rem;
}
.card-price-former {
	font-family: Josefin Sans;
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: line-through;
	color: #ff2aaa;
	margin-right: 1rem;
}

.fa-star {
	color: blue;
	/* background-color: blue; */
}

.item-description {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #9295aa;
}

.card {
	background: #ffffff;
	box-shadow: 0px 0px 20px 5px rgba(248, 246, 253, 0.75);
}

.item-actions {
	padding-right: 2rem;
}

.supporter {
	text-align: center;
	padding: 4rem 0;
}
.supporter img {
	width: 60%;
}

/* FOOTER */
.footer {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #8a8fb9;
	background: #eeeffb;
	padding: 3rem 0;
}
.footer .title {
	font-family: Josefin Sans;
	font-size: 22px;
	line-height: 26px;
	color: #000000;
}

.footer-logo {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 38px;
	line-height: 45px;
	color: #000000;
}
.footer-contactus {
	background: #ffffff;
	opacity: 0.45;
	border-radius: 3px;
	margin-bottom: 1rem;
	display: inline-block;
}
.footer .button {
	background-color: #fb2e86;
	color: #eeeffb;
	border: none;
	padding: 3px;
}

.last-row {
	text-align: center;
	background: #e7e4f8;
	align-items: center;
	/* justify-content: center; */
	padding: 1rem 0;
}
.last-row p {
	padding: 0;
	margin: 0;
}
.last-row i {
	margin-right: 1rem;
}
